.custvenKoledar 
{
    display: flex;
    flex-flow: column;
}

.custvenKoledar .dneviTeden
{
    border-collapse: collapse;
    width: 100%;
}

td
{
    margin-top: 100px;
    border: 1px solid black;
    padding-bottom: 10px;
    vertical-align: top;
    text-align: left;
    height: 100px;
    font-weight: 200;
}

.dneviTeden .imeDneva
{
    width: 115px;
    border: 1px solid black;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
}

.green 
{
    background-color: #8cb88e;
    text-align: center;
}
.blue 
{
    background-color: #8db3d8;
    text-align: center;
}

.red
{
    background-color: #d36767;
    text-align: center;
}
