* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #Fdfdff;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.navtop {
    background-color: #ffbd03;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div h1 {
    font-size: 30px;
    color: #ebedee;
    font-weight: 650;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 500px;
    margin: 0 auto;
}

form input[type="submit"],
form input[type="button"],
form button {
    background-color: #dd7973;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    color: black;
    width: 300px;
    display: block;
    margin: 1auto;
}

form input[type="submit"]:hover,
form input[type="button"]:hover,
form button:hover {
    background-color: #ffbd03;
    color: white;
}

form input[type="text"],
form select,
form textarea {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

form textarea {
    height: 150px;
}

form select {
    height: 40px;
}